* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  width: 100%;
}

.header {
  width: 1024px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header img {
  height: 70px;
  text-align: left;
}

nav {
  margin-left: auto;
  padding: auto;
}

.menu-item {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  margin: 30px;
}

.menu-item a {
  color: #fafafa;
  text-decoration: none;
}

.main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
}

.mv-title,
.mv-text {
  color: #fafafa;
  text-align: center;
}

.mv-title {
  font-size: 64px;
  font-weight: bold;
}

.mv-text {
  font-size: 20px;
  margin-top: 10px;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
  padding-top: 90px;
  padding-bottom: 90px;
}

.pf-main {
  width: 920px;
  margin: 0 auto;
}

.pf-text {
  text-align: center;
}
.title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.border {
  width: 70px;
  height: 8px;
  border-bottom: 3px solid #ec715f;
  margin: 0 auto;
}

.pf-text {
  font-size: 16px;
  margin: 30px auto;
}

.pf-body {
  display: flex;
  flex-wrap: wrap;
}
.pf-body img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pf-body img:nth-child(3n) {
  margin-right: 0;
}

.pf-body img:nth-child(n + 4) {
  margin-bottom: 0;
}

.feature {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.ft-main {
  width: 980px;
  margin: 0 auto;
}

.ft-text,
.ft-box-icon,
.ft-box-title {
  text-align: center;
}

.ft-text {
  font-size: 16px;
  margin: 30px auto;
}

.ft-body {
  display: flex;
}
.ft-box {
  width: 320px;
  margin-right: 10px;
}

.ft-box:nth-child(3) {
  margin-right: 0;
}

.ft-box-icon  i {
  font-size: 60px;
}
.ft-box-title {
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
}

.ft-box-text {
  font-size: 16px;
}

.profile {
  background-color: #eceff1;
  width: 100%;
}

.p-main {
  width: 1024px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.p-text {
  text-align: center;
  margin: 30px auto;
}

.p-body{
  display: flex;
}

.user-icon {
  width: 512px;
  position: relative;
}
.p-body-main {
  width: 512px;
}

.user-icon img {
  size: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.p-body-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.p-body-text:nth-child(1) {
  margin-bottom: 30px;
}

.contact {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.ct-main {
  width: 800px;
  margin: 0 auto;
}

.ct-text {
  font-size: 16px;
  margin: 30px auto;
  text-align: center;
}

.ct-body {
  display: flex;
}

.ct-info,
.ct-sns {
  width: 400px;
}

.ct-aline-i {
  width: 130px;
  margin: 0 auto;;
}

.ct-aline-s {
  width: 170px;
  margin: 0 auto;
}

.ct-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ct-info-mail {
  margin-bottom: 20px;
}

.contact a {
  color: #000;
}

.ct-icons {
  display: flex;
}

.ct-icon {
  margin-right: 20px;
}

.ct-icon:nth-child(3) {
  margin-right: 0;
}

.ct-icon i {
  font-size: 50px;
}

footer {
  background-color: #ec715f;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fafafa;
}